<div class="row" ng-controller="changePasswordController">
    <h3 class="text-center">修改密码</h3>
    <p class="text-center">
        <small>嗨{{nickname()}}, 勤修改密码是好习惯哦！</small>
    </p>
    <form name="changePasswordForm" class="form-horizontal" ng-submit="changePassword()">
        <!--  密码  -->
        <div class="form-group" ng-class="{'has-error':changePasswordForm.oldPassword.$invalid &&
        changePasswordForm.oldPassword.$dirty}">
            <label for="oldPassword" class="control-label col-md-3">旧密码</label>
            <div class="col-md-4">
                <input type="password" id="oldPassword" name="oldPassword" class="form-control" placeholder="6~18位的旧密码"
                       ng-model="changeData.oldPassword" ng-required="true" ng-minlength="6"
                       ng-maxlength="18" ng-mouseenter="changeData.changePassword_failed_mes = 0">
            </div>
            <div class="col-md-5 form-control-static text-danger"
                 ng-show="changePasswordForm.oldPassword.$dirty">
                <p ng-show="changePasswordForm.oldPassword.$error.required">密码不能为空</p>
                <p ng-show="changePasswordForm.oldPassword.$error.minlength">密码长度不能少于6位</p>
                <p ng-show="changePasswordForm.oldPassword.$error.maxlength">密码长度不能多于18位</p>
            </div>
        </div>
        <!--  新密码  -->
        <div class="form-group" ng-class="{'has-error':changePasswordForm.newPassword.$invalid &&
        changePasswordForm.newPassword.$dirty}">
            <label for="newPassword" class="control-label col-md-3">新密码</label>
            <div class="col-md-4">
                <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="6~18位的新密码"
                       ng-model="changeData.newPassword" ng-required="true" ng-minlength="6"
                       ng-maxlength="18">
            </div>
            <div class="col-md-5 form-control-static text-danger"
                 ng-show="changePasswordForm.newPassword.$dirty">
                <p ng-show="changePasswordForm.newPassword.$error.required">密码不能为空</p>
                <p ng-show="changePasswordForm.newPassword.$error.minlength">密码长度不能少于6位</p>
                <p ng-show="changePasswordForm.newPassword.$error.maxlength">密码长度不能多于18位</p>
            </div>
        </div>

        <!-- 确认密码 -->
        <div class="form-group" ng-class="{'has-error':changePasswordForm.confirmPassword.$invalid &&
                changePasswordForm.confirmPassword.$dirty}">
            <label for="confirmPassword" class="control-label col-md-3">确认密码</label>
            <div class="col-md-4">
                <input type="password" id="confirmPassword" class="form-control" placeholder="确认密码"
                       name="confirmPassword" ng-model="changeData.confirmPassword" ng-required="true">
            </div>
            <div class="col-md-5 text-danger form-control-static"
                 ng-show="changePasswordForm.confirmPassword.$dirty">
                <div ng-show="changeData.confirmPassword != changeData.newPassword &&
                    changePasswordForm.newPassword.$valid">两次密码不一致
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-1">
                <input type="submit" class="btn btn-primary" value="修改密码"
                       ng-disabled="
                       changePasswordForm.$invalid ||
                       changeData.confirmPassword != changeData.newPassword ||
                       changeData.exist ">
            </div>
            <div class="col-md-offset-4">
                <input type="reset" class="btn btn-default" value="重置"
                       ng-click="reset()">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-4">
                <div class="alert alert-success"
                     ng-show="changeData.changePassword_success_mes">修改密码成功,正在前行登陆页面！
                </div>
                <div class="alert alert-danger"
                     ng-show="changeData.changePassword_failed_mes">修改密码失败,请检查新老密码是否正确！
                </div>
            </div>
        </div>
    </form>

</div>